<div class="container-fluid h-100">  
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">      
      <div style="padding: 30px">
        <h3 class="font-weight-bold" style="font-size:1.8em;">Hello, {{user.name}}!</h3>        
        <br>
        <input type="hidden" id="file-type">
        <input class='btn btn-sm btn-light d-none' title='' type='file' id='file-input' name='attachedFile' onchange='attachFiles(this);' multiple/>        
        <div class="dropdown show">
          <a class="btn btn-info btn-lg dropdown-toggle" href="#" role="button" id="upload-files-dropdown" data-toggle="dropdown">
            Upload Files
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" onclick="uploadFiles('csv')" role="button">CSV files</a>
            <a class="dropdown-item" onclick="uploadFiles('video')" role="button">videos</a>
            <a class="dropdown-item" onclick="uploadFiles('image')" role"button">images</a>
          </div>
        </div>               
      </div>
      <br>
      <div class="row">
        <div class="col-md-2"></div>
          <div class="col-md-8">            
            <div class="card card-outline-danger" id="progressStatusCard" style="display:none;">
              <span class="pull-left clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
              <div class="card-block pl-2 pr-2" id="progressStatus"></div>
            </div>
          </div>
        <div class="col-md-2"></div>
      </div>
           
      <!-- File Delete modal -->
      <div class="modal" id="delete-file-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title font-weight-bold" id="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input type="hidden" id="file-name">
                <input type="hidden" id="file-object-id">
                <p>Are you sure you want to permanently delete this file?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" onClick="deleteFile('file-object-id')">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
      </div> 

      <!-- Pre-validation modal -->          
      <div class="modal fade" tabindex="-1" role="dialog" id="pre-validation-modal">
        <div class="modal-dialog modal-xl" role="document" style="min-width:70%;">
          <div class="modal-content" style="max-height:800px; overflow-y:auto;">
            <div class="modal-header">
              <h5 class="modal-title font-weight-bold">Pre-validation steps for file <span id="prevalidation-file-name"></span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">                
              <input type="hidden" id="file-id">
              <ul class="nav nav-tabs" id="pre-validation-tabs">
                <li class="nav-item">
                  <a class="nav-link bg-white active" href="#dataset-preview" data-toggle="tab" role="tab" onclick="onclickDatasetPreviewTab()">Dataset preview</a>
                </li>                  
                <li class="nav-item">
                  <a class="nav-link bg-white" href="#anonymization" data-toggle="tab" role="tab" onclick="onclickAnonymizationTab()">Research Anonymization</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link bg-white disabled" href="#df-shape" data-toggle="tab" role="tab" onclick="onclickDFShapeTab()">DF Shape</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link bg-white disabled" href="#fields-types" data-toggle="tab" role="tab" onclick="onclickFieldsTypesTab()">Fields Types</a>
                </li>                    
                <li class="nav-item">
                  <a class="nav-link bg-white disabled" href="#readme-selection" data-toggle="tab" role="tab" onclick="onclickReadmeSelectionTab('{{user._id}}')">Readme Selections</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link bg-white disabled" href="#variable-level" data-toggle="tab" role="tab" onclick="onclickVariableLevelsTab()">Variable Level</a>
                </li>                                   
              </ul>
              <div class="tab-content" id="pre-validation-tab-content">
                <div class="tab-pane fade show in active" id="dataset-preview" role="tabpanel">
                  {{> datasetPreview}}
                </div>
                <div class="tab-pane fade" id="anonymization" role="tabpanel">
                  {{> anonymizationPrecheck}}
                </div>
                <div class="tab-pane fade" id="df-shape" role="tabpanel">
                  {{> DFShapePrecheck}}
                </div>
                <div class="tab-pane fade" id="fields-types" role="tabpanel">
                  {{> fieldsTypesPrecheck}}
                </div>
                <div class="tab-pane fade" id="readme-selection" role="tabpanel">
                  {{> readmeSelection}}
                </div>
                <div class="tab-pane fade" id="variable-level" role="tabpanel">
                  {{> variableLevel}}
                </div>                                        
              </div> 
            </div>
            <div class="modal-footer">                  
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Data Visualization modal -->          
      <div class="modal fade" tabindex="-1" role="dialog" id="data-viz-modal">
        <div class="modal-dialog" role="document" style="min-width:50%;height:700px;overflow-y:auto;">
          <div class="modal-content" style="max-height:900px; overflow-y:auto;">
            <div class="modal-header">
              <h5 class="modal-title font-weight-bold">Data Visualization
                <span id="visualization-file-name"></span>
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">                
              <input type="hidden" id="data-viz-file-id">
              <ul class="nav nav-tabs" id="data-viz-tabs">                  
                <li class="nav-item">
                  <a class="nav-link bg-white active" href="#missing-data-viz" data-toggle="tab" role="tab" onclick="onclickMissingDataVizTab()">Missing Data Visualizations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link bg-white" href="#distribution-viz" data-toggle="tab" role="tab" onclick="onclickDistributionVizTab()">Data Distribution Visualizations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link bg-white" href="#analytics-viz" data-toggle="tab" role="tab" onclick="onclickAnalyticsTab()">Basic Analytics Visualizations</a>
                </li>                                                                                         
              </ul>
              <div class="tab-content" id="data-viz-tab-content">
                <div class="tab-pane fade show in active" id="missing-data-viz" role="tabpanel">
                  {{> missingDataViz}}
                </div>
                <div class="tab-pane fade" id="distribution-viz" role="tabpanel">              
                  {{> dataDistributionViz}}
                </div>
                <div class="tab-pane fade" id="analytics-viz" role="tabpanel">              
                  {{> analyticsViz}}
                </div>                                                                                                 
              </div>  
            </div>
            <div class="modal-footer">                  
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <ul class="nav nav-tabs" id="files-tabs">                  
        <li class="nav-item">
          <a class="nav-link bg-white active" href="#csvs" data-toggle="tab" role="tab">CSV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-white" href="#readmes" data-toggle="tab" role="tab">README</a>
        </li>                                       
      </ul>
      <div class="card mt-2">        
        <div class="tab-content" id="files-tabs-content">
          <div style="padding: 20px;" class="tab-pane fade show in active" id="csvs" role="tabpanel">
            <table id="files-list-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th class="hidden">ID</th>
                  <th>Name</th>
                  <th>Uploaded By</th>
                  <th>Date</th>            
                  <th>Size</th>
                  <th>Validation</th>                
                  <th>Delete</th>                                            
                </tr>
              </thead>
              {{#each csvs as |file|}}
                <tr>
                  <td>{{_id}}</td> 
                  <td>
                    <a href="/api/S3/getObject/{{name}}/{{type}}" download='{{name}}'>{{name}}</a>
                  </td>
                  <td>{{user.name}}</td>
                  <td>{{formatDate createdAt}}</td>                            
                  <td><span class="badge badge-info">{{size}}</span></td>
                  <td>
                    <div class="dropdown" id="validation-dropdown-{{_id}}">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="validation-dropdown-btn-{{_id}}" data-toggle="dropdown">
                        Validation
                      </button>
                      <div class="dropdown-menu" aria-labelledby="validation-dropdown-btn-{{_id}}">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#pre-validation-modal" onclick="onclickPreValidation('{{_id}}', '{{name}}', {{file.preValidationNotCompleted}})">Pre-validation</a>
                        <a class="dropdown-item {{#if file.preValidationNotCompleted}}disabled{{/if}}" href="#" id="prevalidation-dropdown-link-{{_id}}">validation</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#data-viz-modal" onclick="onclickDataVisualization('{{_id}}', '{{name}}')">Visualization</a>   
                      </div>
                    </div>
                  </td>
                  <td><button class="btn btn-danger" onClick="onClickDeleteFile('{{name}}', '{{_id}}', '{{type}}')" data-toggle="modal" data-target="#delete-file-modal" {{#ifNotEquals file.userId ../user._id}}disabled{{/ifNotEquals}}>Delete</button></td>                           
                </tr>
              {{/each}}
            </table>
          </div>
          <div style="padding: 20px;" class="tab-pane fade" id="readmes" role="tabpanel">
            <table id="files-list-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th class="hidden">ID</th>
                  <th>Name</th>
                  <th>Uploaded By</th>
                  <th>Date</th>            
                  <th>Size</th>                                  
                  <th>Delete</th>                                            
                </tr>
              </thead>
              {{#each readmes as |file|}}
                <tr>
                  <td>{{_id}}</td> 
                  <td>
                    <a href="/api/S3/getObject/{{name}}/{{type}}" download='{{name}}'>{{name}}</a>
                  </td>
                  <td>{{user.name}}</td>
                  <td>{{formatDate createdAt}}</td>                            
                  <td><span class="badge badge-info">{{size}}</span></td>                  
                  <td><button class="btn btn-danger" onClick="onClickDeleteFile('{{name}}', '{{_id}}', '{{type}}')" data-toggle="modal" data-target="#delete-file-modal" {{#ifNotEquals file.userId ../user._id}}disabled{{/ifNotEquals}}>Delete</button></td>                           
                </tr>
              {{/each}}
            </table>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/public/scripts/pre-validation/dataset-preview.js"></script>
<script type="text/javascript" src="/public/scripts/pre-validation/fields-types.js"></script>
<script type="text/javascript" src="/public/scripts/pre-validation/readme-selection.js"></script>
<script type="text/javascript" src="/public/scripts/pre-validation/anonymization.js"></script>
<script type="text/javascript" src="/public/scripts/pre-validation/variable-level.js"></script>
<script type="text/javascript" src="/public/scripts/pre-validation/df-shape.js"></script>
<script type="text/javascript" src="/public/scripts/pre-validation/common.js"></script>
<script type="text/javascript" src="/public/scripts/visualizations/common.js"></script>
<script type="text/javascript" src="/public/scripts/visualizations/missingData.js"></script>
<script type="text/javascript" src="/public/scripts/visualizations/dataDistributionViz.js"></script>
<script type="text/javascript" src="/public/scripts/visualizations/analyticsViz.js"></script>
<script type="text/javascript" src="/public/scripts/dashboard/index.js"></script>
<style>
  #progressStatus {
    width: 100%;    
  }  
  .progressBar {
    width: 1%;
    height: 15px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 12px;
    color: black;
    border-radius: 25px;
  }
  .close-icon {
    cursor: pointer;
  }  
</style>

<link rel="stylesheet" href="/public/css/bootstrap-select.min.css"></link>
<script type="text/javascript" src="/public/js/bootstrap-select.min.js"></script>