<div class="container-fluid h-100">  
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">      
      <div style="padding: 30px">
        <h3 class="font-weight-bold" style="font-size:1.8em;">Hello, {{user.name}}!</h3>        
        <br>
        <input class='btn btn-sm btn-light d-none' title='' type='file' id='file-input' name='attachedFile' accept='.csv' onchange='attachFiles(this);' multiple/>
        <button class='btn btn-info btn-lg' onclick='onclickUpload(this)'>Upload Files</button>               
      </div>
      <br>
      <div class="row">
        <div class="col-md-2"></div>
          <div class="col-md-8">            
            <div class="card card-outline-danger" id="progressStatusCard" style="display:none;">
              <span class="pull-left clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
              <div class="card-block pl-2 pr-2" id="progressStatus"></div>
            </div>
          </div>
        <div class="col-md-2"></div>
      </div>
      <!-- File Delete modal -->
      <div class="modal" id="delete-file-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title font-weight-bold" id="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input type="hidden" id="file-name">
                <input type="hidden" id="file-object-id">
                <p>Are you sure you want to permanently delete this file?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" onClick="deleteFile()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
      </div>      
      <div class="card mt-2">
        <div style="padding: 20px;">
          <table id="files-list-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="hidden">ID</th>
                <th>Name</th>
                <th>Uploaded By</th>
                <th>Date</th>            
                <th>Size</th>
                <th>Validation</th>                
                <th>Delete</th>                                            
              </tr>
            </thead>
            {{#each files as |file|}}
              <tr>
                <td>{{_id}}</td> 
                <td>
                  <a href="/api/S3/getObject/{{name}}" download='{{name}}'>{{name}}</a>
                </td>
                <td>{{user.name}}</td>
                <td>{{formatDate createdAt}}</td>                            
                <td><span class="badge badge-info">{{size}}</span></td>
                <td>
                  <div class="dropdown" id="validation-dropdown-{{_id}}">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="validation-dropdown-btn-{{_id}}" data-toggle="dropdown">
                      Validation
                    </button>
                    <div class="dropdown-menu" aria-labelledby="validation-dropdown-btn-{{_id}}">
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#pre-validation-modal" onclick="onclickPreValidation('{{_id}}', '{{name}}', {{file.preValidationNotCompleted}})">Pre-validation</a>
                      <a class="dropdown-item {{#if file.preValidationNotCompleted}}disabled{{/if}}" href="#" id="prevalidation-dropdown-link-{{_id}}">validation</a>    
                    </div>
                  </div>
                </td>
                <td><button class="btn btn-danger" onClick="onClickDeleteFile('{{name}}', '{{_id}}')" data-toggle="modal" data-target="#delete-file-modal" {{#ifNotEquals file.userId ../user._id}}disabled{{/ifNotEquals}}>Delete</button></td>                           
              </tr>
            {{/each}}
          </table>

          <!-- Pre-validation modal -->          
          <div class="modal fade" tabindex="-1" role="dialog" id="pre-validation-modal">
            <div class="modal-dialog" role="document" style="min-width:50%;">
              <div class="modal-content" style="max-height:900px; overflow-y:auto;">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-bold">Pre-validation steps for file <span id="prevalidation-file-name"></span></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!--{{> anonymizationPrecheck}}                  
                  {{> DFShapePrecheck}}
                  {{> fieldsTypesPrecheck}} 
                  {{> readmeSelection}} -->
                  <input type="hidden" id="file-id">
                  <ul class="nav nav-tabs">                  
                    <li class="nav-item">
                      <a class="nav-link bg-white active" href="#anonymization" data-toggle="tab" role="tab">Research Anonymization</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link bg-white" href="#df-shape" data-toggle="tab" role="tab">DF Shape</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link bg-white" href="#fields-types" data-toggle="tab" role="tab" onclick="onclickFieldsTypesTab()">Fields Types</a>
                    </li>                    
                    <li class="nav-item">
                      <a class="nav-link bg-white" href="#readme-selection" data-toggle="tab" role="tab">Readme Selections</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link bg-white" href="#variable-level" data-toggle="tab" role="tab">Variable Level</a>
                    </li>
                    <!--<li class="nav-item">
                      <a class="nav-link bg-white" href="#naming-convention" data-toggle="tab" role="tab">Naming Convention</a>
                    </li> -->                
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show in active" id="anonymization" role="tabpanel">
                      {{> anonymizationPrecheck}}
                    </div>
                    <div class="tab-pane fade" id="df-shape" role="tabpanel">
                      {{> DFShapePrecheck}}
                    </div>
                    <div class="tab-pane fade" id="fields-types" role="tabpanel">
                      {{> fieldsTypesPrecheck}}
                    </div>
                    <div class="tab-pane fade" id="readme-selection" role="tabpanel">
                      {{> readmeSelection}}
                    </div>
                    <div class="tab-pane fade" id="variable-level" role="tabpanel">
                      {{> variableLevel}}
                    </div>
                    <!--<div class="tab-pane fade" id="naming-convention" role="tabpanel">
                      <p class="ml-4">Naming convention validation</p> 
                    </div>-->                    
                  </div> 
                </div>
                <div class="modal-footer">                  
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/public/scripts/dashboard/index.js"></script>
<style>
  #progressStatus {
    width: 100%;    
  }  
  .progressBar {
    width: 1%;
    height: 15px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 12px;
    color: black;
    border-radius: 25px;
  }
  .close-icon {
    cursor: pointer;
  }   
</style>

<link rel="stylesheet" href="/public/css/bootstrap-select.min.css"></link>
<script type="text/javascript" src="/public/js/bootstrap-select.min.js"></script>